# Dependencies
node_modules/

# Build outputs
dist/
.esbuild/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env
.env
.env.*

# Misc
*.local
